{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="{% static 'tablo/css/main.css' %}" media="screen">
</head>
<body>
    <div class="runningline">
        <marquee class="line" direction="left" scrollamount="10">
           <pre>{{ row }}</pre>
        </marquee>
    </div>
    <div class="mainblock slideshow-container">
        {% for el in slides %}
        <div class="mySlides fade">
            <img src="{{ el.image.url }}">
        </div>
        {% endfor %}
    </div>
    <div class="rightblock">
        <div class="datetime">
            <p class="year">2023</p>
            <p class="date">1 марта</p>
            <p class="time">12:23</p>
        </div>
        <div class="dayblock">
            {% for el in holids %}
                <div class="aday">
                    <p class="datep">{{ el.day }} {{ el.month }} {{ el.year }}</p>
                    <p class="namep">{{ el.name }}</p>
                    <p class="aboutp">{{ el.about }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'tablo/js/main.js' %}"></script>
    <script src="{% static 'tablo/js/datetime.js' %}"></script>
</body>
</html>